.header__logo {
  margin: 0 auto 2.88px 0;
  width: 142.01px;
  height: 33.4px;
}
@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
