@import url("./__button/elements__button.css");
@import url("./__button/_active/elements__button_active.css");
@import url("./__element/elements__element.css");
@import url("./__image/elements__image.css");
@import url("./__image/_add/elements__image_add.css");
@import url("./__list/elements__list.css");
@import url("./__title/elements__title.css");
@import url("./__delete-button/elements__delete-button.css");
@import url("./__like-counter/elements__like-counter.css");
.elements {
  position: relative;
  max-width: 882px;
  margin: auto;
  margin-bottom: 66px;
}
@media screen and (max-width: 900px) {
  .elements {
    max-width: 600px;
  }
}
@media screen and (max-width: 620px) {
  .elements {
    max-width: 282px;
    margin-bottom: 48px;
  }
}
