.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Vectoyyyyyr.png);
  margin-top: 15px;
  margin-right: 30px;
  border: 1px solid #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  outline: none;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 19px;
    margin-right: 0;
  }
}
