.popup__input {
  width: 358px;
  height: 27.34px;
  margin-bottom: 29px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  .popup__input {
    width: 186px;
  }
}
