@import url("./__logo/header__logo.css");
@import url("./__button/header__button.css");
@import url("./__link/header__link.css");
@import url("./__text/header__text.css");
@import url("./__nav/header__nav.css");
.header {
  display: flex;
  max-width: 882px;
  min-height: 74px;
  margin: auto;
  padding-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 900px) {
  .header {
    max-width: 600px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
    margin-bottom: 38px;
  }
}
